<h3 *ngIf="name">{{ name }} has been viewed.</h3>
<div class="columns" *ngIf="users.length > 0; else noUsers">
  <!-- index, first, last, even, odd -->
  <ngr-user-card
    *ngFor="
      let u of users;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    [user]="u"
    [userIndex]="i"
    [isFirst]="isFirst"
    [isLast]="isLast"
    [isEven]="isEven"
    [isOdd]="isOdd"
    (userViewed)="handleUserViewed($event)"
    (userDeleted)="handleUserDeleted($event)"
  ></ngr-user-card>
</div>

<ng-template #noUsers>
  <div class="columns">
    <div class="column">
      <p class="no-users tag">No Users Available.</p>
    </div>
  </div>
</ng-template>
