<nav class="panel">
  <div class="panel-heading">
    <p>ngClass and ngStyle</p>
    <div class="buttons">
      <button class="button is-small is-primary" (click)="enableBorders()">
        Enable Borders
      </button>
      <button class="button is-small is-info" (click)="enableStripes()">
        Enable Stripes
      </button>
      <button class="button is-small is-link" (click)="enableNarrow()">
        Enable Narrow
      </button>
      <button class="button is-small is-warning" (click)="enableHover()">
        Enable Hover
      </button>
      <button class="button is-small is-danger" (click)="enableAll()">
        Enable All
      </button>
      <button class="button is-small is-dark" (click)="resetAll()">
        Reset
      </button>
    </div>
  </div>
  <div class="panel-block">
    <table class="table is-fullwidth" [ngClass]="tableClasses">
      <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Marks</th>
        <th>User Type</th>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.username }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td [ngStyle]="getMarksStyles(student)">{{ student.marks }}</td>
          <td>
            <ng-container [ngSwitch]="student.type">
              <ng-container *ngSwitchCase="'ADM'">
                <p class="tag is-small is-success">is an admin</p>
              </ng-container>
              <ng-container *ngSwitchCase="'USR'">
                <p class="tag is-small is-link">is a user</p>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <p class="tag is-small is-dark">unknown user</p>
              </ng-container>
            </ng-container>

            <!-- <div [ngSwitch]="student.type">
              <div *ngSwitchCase="'ADM'">
                <p class="tag is-small is-success">is an admin</p>
              </div>
              <div *ngSwitchCase="'USR'">
                <p class="tag is-small is-link">is a user</p>
              </div>
              <div *ngSwitchDefault>
                <p class="tag is-small is-dark">unknown user</p>
              </div>
            </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</nav>
